extends layout

block content
	img(src="/images/npr_200_200.png" style="position:relative;left:40px")
	audio(src='/audio/132.mp3', controls='controls')
	embed(src='/audio/132.mp3', width='200', height='90', loop='false', autostart='false')
