extends layout

block content
	img(src="/images/categories.png" style="position:absolute; left:0px; top:0px; z-index:0") 
	
	img(src="/images/check.png" style="visibility:visible; position:absolute; left:340px; top:150px; z-index:1" id="art")     
	button(type="submit" class="btn btn-default" style="position:absolute; top:140px; left:0px; width:350px; height:60px; background:transparent; border:none; color:transparent; outline:none" onclick="toggle_visibility('art')")

	img(src="/images/check.png" style="visibility:visible; position:absolute; left:340px; top:265px; z-index:1" id="eng")     
	button(type="submit" class="btn btn-default" style="position:absolute; top:255px; left:0px; width:350px; height:60px; background:transparent; border:none; color:transparent; outline:none" onclick="toggle_visibility('eng')")

	img(src="/images/check.png" style="visibility:visible; position:absolute; left:340px; top:330px; z-index:1" id="health")     
	button(type="submit" class="btn btn-default" style="position:absolute; top:320px; left:0px; width:350px; height:60px; background:transparent; border:none; color:transparent; outline:none" onclick="toggle_visibility('health')")

	img(src="/images/check.png" style="visibility:visible; position:absolute; left:340px; top:450px; z-index:1" id="lang")     
	button(type="submit" class="btn btn-default" style="position:absolute; top:440px; left:0px; width:350px; height:60px; background:transparent; border:none; color:transparent; outline:none" onclick="toggle_visibility('lang')")

	script(type='text/javascript').
		function toggle_visibility(id) {
			var e = document.getElementById(id);
			if(e.style.visibility == 'visible')
				e.style.visibility = 'hidden';
			else
				e.style.visibility = 'visible';
		}
