extends layout

block content
  img(src="/images/npr_200_200.png" style="position:relative;left:40px")
  br
  audio(src='/audio/gg_bridge_clipped.wav', controls='controls')
    embed(src='/audio/gg_clipped.wav', width='200', height='90', loop='false', autostart='false')
