extends layout

block content
	img(src="/images/signup.png" style="position:absolute; left:0px; top:0px; z-index:0; width:32%" ) 

	form(action='choose')

		input(type="submit" class="btn btn-default" style="position:absolute; top:263px; left:46px; width:264px; height:53px; background:transparent; border:none; color:transparent; outline:none" value="")

		input(type="submit" class="btn btn-default" style="position:absolute; top:324px; left:46px; width:264px; height:53px; background:transparent; border:none; color:transparent; outline:none" value="")